<html>
    <head>
         <title>{{ server_name }} stats</title>
        <style>
        body { color : #2f2f2f; }
        #content { width : 1000px; margin: 30px auto 0px auto; }
        h1 { text-align: center; }
        table { width : 600px; margin : 30px auto 0 auto; }
        th { background : #cdcdff; }
        td { background : #cdcdee; text-align: center; }
        p { text-align : center; }
        </style>
    </head>
    <body>
    <div id="content">
        <h1>{{  server_name  }} stats</h1>
        <table>
            <thead>
                <tr><th colspan="6">General stats:</th></tr>
                <tr>
                    {% for k, v in w.items %}
                        {% if k != 'user_list' %}<th {% if k == 'load averages' %}colspan="3"{% endif %}>{{ k|capfirst  }}</th>{% endif %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for k, v in w.items %}
                    {% if k != 'user_list' %}
                    {% if k == 'load averages' %}
                        {% for v2 in v %}
                            <td>{{ v2 }}</td>
                        {% endfor %}
                    {% else %}
                        <td>{{ v }}</td>
                    {% endif %}
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <table>
            <thead>
                <tr><th colspan="8">Logged users:</th></tr>
                <tr>
                {% for v in w.user_list.headers %}
                    <th>{{ v }}</td>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for line in w.user_list.values %}
                    <tr>
                        {% for v in line %}
                            <td>{{ v }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}            
            </tbody>
        </table>
        <table>
            <thead>
                <tr><th colspan="6">Memory info:</th></tr>
                <tr>
                {% for k, v in mem_info.items %}
                    <th>{{ k|capfirst }}</th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                {% for k, v in mem_info.items %}
                    <td>{{ v }}</td>
                {% endfor %}
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
                <tr><th colspan="6">Site list:</th></tr>
                <tr>
                    <th>Url</th><th>Upstream name</th><th>Upstream uri</th><th>Fastcgi (php)</th><th>Upstream process (PID/Program name)</th><th>Health check</tt>
                </tr>
            </thead>
            <tbody>
                {% for site in sites %}
                    <tr>
<td><a href="http://{{ site.server_name }}">{{ site.server_name }}</a></td>
<td>{{ site.upstream_name }}</td>
<td>{{ site.upstream_uri }}</td>
<td>{{ site.fastcgi }}</td>
<td>{{ site.process }}</td>
<td>{% if site.upstream_uri|length and site.process|length %} <img alt="Running" src="/static/success.gif" /> {% elif site.upstream_uri|length and not site.process|length %} <img alt="Stopped" src="/static/error.gif" /> {% else %} {% endif %}</td>
</tr>
                {% endfor %}
            </tbody>
        </table>
        <p id="notice">Generated on: {{ timestamp }} with Python {{ python_version }}</p>
        <p id="copyright">Copyright (C) 2012 Raphael Cruzeiro</p>
        <p id="license">Nginx Monitoring Tool is free software and comes with ABSOLUTELY NO WARRANTY.  You are
  welcome to redistribute it under the terms of the GNU General Public
  License.  For more information about these matters, see <a href="http://www.gnu.org/licenses/gpl.html">http://www.gnu.org/licenses/gpl.html</a>.</p>
        <p>The source code can be found at: <a href="https://github.com/raphaelcruzeiro/nginx-monitoring-tool">https://github.com/raphaelcruzeiro/nginx-monitoring-tool</a>.</p>
    </div>
    </body>
</html>    
